<nav class="navbar navbar-expand-lg" style="background-color: rgb(122, 177, 216);">
    <div class="container-fluid">
      <a class="navbar-brand" class="nav-link" routerLink="/home" routerLinkActive="active">
        <img src="/assets/logo_inplan.png" width="125" height="60" alt="">
      </a> <!---Logo can be used instead-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" >Name of the User</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link"  routerLink="/add-card" routerLinkActive="active" >Add Card</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link"  routerLink="/add-member" routerLinkActive="active" >Add Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/opentime" routerLinkActive="active">Time Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sprintpage" routerLinkActive="active">Sprints</a>
          </li>
          <div class="ali">
          <button type="button" class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"></path>
</svg>
          </button>
          </div>
        </ul>
      </div>
    </div>
  </nav>