.container{
    box-sizing: border-box;
    background-color: rgb(90, 135, 164);
    font-family: Arial, sans-serif;
    border: 2px;
    border-radius: 20px;
    margin-top: 40px;
    width: 50%;
}

.btn{
    margin: 5px;
}

.form-select{
    padding: 10px;
}

#titleInput{
    height: 40px;
    font-size: 25px;
    margin: 10px;
    width: 60%;
}